<% layout("layouts/boilerplate.ejs") %>
<h1>BMR Calculator</h1>
<div class="col-md-6 offset-md-3">
  <div class="row mb-3 p-3">
    <iframe
      src="https://www.mealpro.net/bmr/?color=232323"
      frameborder="0"
      width="100%"
      height="500"
      style="max-width: 100%"
      class="postcard light blue p-0"
    ></iframe>
  </div>
  <div class="row mb-3 postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">BMR</h1>
        <div class="postcard__preview-txt">
          <p class="card-text">
            <i
              >"The rate at which energy (calories) is used for the essential
              life functions is called Basal Metabolic Rate (BMR). Basal
              metabolism includes most of the involuntary things the human body
              does to support life – such as breathing, blood circulation, body
              temperature regulation, nervous system operations, etc., but not
              the extra energy needed for any additional physical activity such
              as gym exercise. In other words, if you laid in bed all day doing
              nothing else, then you would need to eat at least the number of
              calories roughly equal to your BMR in order to maintain your
              normal body functions." </i
            ><small class="text-muted"
              >-
              <a href="https://www.mealpro.net/" target="_blank"
                >www.mealpro.net</a
              ></small
            >
          </p>
        </div>
      </div>
  </div>
</div>
