<% layout("layouts/boilerplate.ejs") %>
<h1>Calorie Calculator</h1>
<div class="col-md-6 offset-md-3">
  <div class="row mb-3 p-3">
    <iframe
      src="https://www.mealpro.net/calorie/?color=232323"
      frameborder="0"
      width="100%"
      height="1000"
      style="max-width: 100%"
      class="postcard light blue p-0"
    ></iframe>
  </div>
  <div class="row mb-3 postcard dark blue">
    <div class="postcard__text">
      <h1 class="postcard__title blue">Calorie Calculation</h1>
      <div class="postcard__preview-txt">
        <p class="card-text">
          <i
            >"In step 1 of the calorie calculator widget you can input your
            height, age, gender, weight and your activity level. This
            information is used to calculate your total daily calorie
            expenditure. (Calories are a way to measure energy consumed)."
          </i>
        </p>
        <p class="card-text">
          <i
            >"In step 2 of the calorie calculator widget you can input how much
            weight you want to gain or lose. Based on this information the
            calorie widget creates a calorie surplus or a calorie deficit in
            your diet that will help you achieve your target weight. Depending
            on how much weight you want to gain or lose you can adjust your
            calorie intake or your activity level to achieve your desired
            result."
          </i>
        </p>
        <small class="text-muted"
          >-
          <a href="https://www.mealpro.net/" target="_blank"
            >www.mealpro.net</a
          ></small
        >
      </div>
    </div>
  </div>
</div>
