<% layout("layouts/boilerplate.ejs") %>
<h1>All Tools</h1>
<div class="row p-3">
  <article class="postcard dark green">
    <div class="postcard__text">
      <h1 class="postcard__title green">
        <a href="/tools/caloriecalculator">Calories</a>
      </h1>
      <div class="postcard__subtitle small">
        <i class="fas fa-pizza-slice"></i>&nbsp;&nbsp;Calorie Calculator
      </div>
      <div class="postcard__bar"></div>
      <ul class="postcard__tagbox">
        <li class="tag__item play green">
          <a href="/tools/caloriecalculator">Use</a>&nbsp;&nbsp;<i
            class="fas fa-caret-right"
          ></i>
        </li>
      </ul>
    </div>
  </article>
</div>
<div class="row p-3">
  <article class="postcard dark blue">
    <div class="postcard__text">
      <h1 class="postcard__title blue">
        <a href="/tools/bmr">BMR</a>
      </h1>
      <div class="postcard__subtitle small">
        <i class="fab fa-gratipay"></i>&nbsp;&nbsp;Basal Metabolic Rate
      </div>
      <div class="postcard__bar"></div>
      <ul class="postcard__tagbox">
        <li class="tag__item play blue">
          <a href="/tools/bmr">Use</a>&nbsp;&nbsp;<i
            class="fas fa-caret-right"
          ></i>
        </li>
      </ul>
    </div>
  </article>
</div>
<div class="row p-3">
  <article class="postcard dark red">
    <div class="postcard__text">
      <h1 class="postcard__title red">
        <a href="/tools/bmi">BMI</a>
      </h1>
      <div class="postcard__subtitle small">
        <i class="fas fa-balance-scale-right"></i>&nbsp;&nbsp;Body Mass Index
      </div>
      <div class="postcard__bar"></div>
      <ul class="postcard__tagbox">
        <li class="tag__item play red">
          <a href="/tools/bmi">Use</a>&nbsp;&nbsp;<i
            class="fas fa-caret-right"
          ></i>
        </li>
      </ul>
    </div>
  </article>
</div>
