<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aelbish Shrestha" />
    <meta
      name="description"
      content="Start your fitness journey and find your fitness community through Fitness Finder."
    />
    <meta
      property="og:image"
      content="https://img.icons8.com/fluent/50/000000/sports-mode.png"
    />
    <meta
      property="og:description"
      content="Start your fitness journey and find your fitness community through Fitness Finder."
    />
    <meta property="og:title" content="Fitness Finder" />
    <link
      rel="icon"
      href="https://img.icons8.com/fluent/50/000000/sports-mode.png"
    />
    <title>Fitness Finder</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>

  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-left mb-0">Fitness Finder</h3>
          <nav class="nav nav-masthead justify-content-center float-md-right">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="/tools">Tools</a>
            <a class="nav-link" href="/about">About</a>
            <% if(!currentUser) { %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </nav>
        </div>
      </header>
      <main class="px-3">
        <h1>Fitness Finder</h1>
        <p class="lead">
          <div class="lead">Welcome to Fitness Finder!</div>
          <div class="lead">
          Start your fitness journey and find your fitness community through Fitness Finder.</div>
          <div class="d-none d-md-block lead">View and save workout plans posted by people and add your own workout plans. <br/>Find fitness pals and gyms near you. </br>
            Give ratings and reviews for the workout plans. </br>
            </div>
          
        </p>
        <a
          href="/workoutplans/categorized"
          class="
            btn btn-md btn-secondary
            font-weight-bold
            border-white
            bg-white
          "
          >View Workout Plans</a
        >
      </main>

      <footer class="mt-auto text-white-50">
        <p>
          &copy; Fitness Finder 2021
        </p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>