<% layout("layouts/boilerplate.ejs") %>
<h1>Find Gyms Near You</h1>
<h4>
  <small class="text-muted"
    >Type "Gym" in the search bar to populate gyms near your location
  </small>
</h4>
<a href="/users/<%= user._id %>/edit">Update Location?</a>

<article class="postcard dark blue"><div id="map-gym"></div></article>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
  type="text/css"
/>

<!-- Promise polyfill script is required -->
<!-- to use Mapbox GL Geocoder in IE 11. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<div id="map"></div>
<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const user = <%- JSON.stringify(user)%>
</script>
<script src="/javascripts/gymMap.js"></script>
