<% layout("layouts/boilerplate.ejs") %>
<h1>Fitness Pals</h1>
<h4><small class="text-muted">Explore the cluster map and find a new fitness pal</small></h4>
<article class="postcard dark blue"><div id="cluster-map"></div></article>

<script>
    const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
    const users = {features: <%- JSON.stringify(users)%>}
  </script>
<script src="/javascripts/userClusterMap.js"></script>
