<% layout("layouts/boilerplate.ejs") %>
<h1>Categories</h1>
<div class="row p-3">
  <article class="postcard dark blue">
    <div class="postcard__text">
      <h1 class="postcard__title blue">
        <a href="/workoutplans/goal/?goal=Build Muscle">Muscle</a>
      </h1>
      <div class="postcard__subtitle small">
        <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Gain Muscle Mass
      </div>
      <div class="postcard__bar"></div>
      <ul class="postcard__tagbox">
        <li class="tag__item play blue">
          <a href="/workoutplans/goal/?goal=Build Muscle"
            >View Workout Plans</a
          >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
        </li>
      </ul>
    </div>
  </article>
</div>
<div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/goal/?goal=Increase Strength">Strength</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Increase Strength
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/goal/?goal=Increase Strength"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/goal/?goal=Lose Fat/Tone Up">Tone</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Reduce Body Fat %
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/goal/?goal=Lose Fat/Tone Up"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/goal/?goal=Increase Endurance/Stamina">Endurance</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Increase Stamina
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/goal/?goal=Increase Endurance/Stamina"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/category/?category=Single Muscle Group">Single Muscle</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Single Muscle Workout
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/category/?category=Single Muscle Group"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/category/?category=Full Body">Full Body</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Full Body Workout
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/category/?category=Full Body"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/category/?category=Cardio/HITT">Cardio/HITT</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Cardio/HITT Workout
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/category/?category=Cardio/HITT"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/category/?category=Push/Pull/Leg">Push/Pull/Leg</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Push/Pull/Leg Workout
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/category/?category=Push/Pull/Leg"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>

  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/category/?category=3-Day Split">3-Day Split</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;3-Day Split Workout
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/category/?category=3-Day Split"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/category/?category=4-Day Split">4-Day Split</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;4-Day Split Workout
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/category/?category=4-Day Split"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/category/?category=5-Day Split">5-Day Split</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;5-Day Split Workout
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/category/?category=5-Day Split"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="row p-3">
    <article class="postcard dark blue">
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="/workoutplans/category/?category=Custom Split">Custom Split</a>
        </h1>
        <div class="postcard__subtitle small">
          <i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Custom Split Workout
        </div>
        <div class="postcard__bar"></div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a href="/workoutplans/category/?category=Custom Split"
              >View Workout Plans</a
            >&nbsp;&nbsp;<i class="fas fa-caret-right"></i>
          </li>
        </ul>
      </div>
    </article>
  </div>
